* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*   This is a css comment!!  */
  font-family: sans-serif;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: green;
  margin: 0;
}
header a {
  color: #fce138;
  text-decoration: none;
}

header {
  background-color: #34b2b2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header nav {
  margin: 7px 0px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.75vw;
}

footer {
  background-color: #fce138;
  color: #024e76;
  padding: 40px 35px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer h2 {
  margin: 0;
  color: #024e76;
  font-size: 30px;
}

footer div {
  text-align: right;
  line-height: 1.5;
}

footer a {
  color: #024e76;
}

.intro {
  padding: 60px;
  color: #34b2b2;
}
.hero-cta {
  width: 35%;
  text-align: right;
  color: #fff;
  margin: 3.5%;
  font-size: 18px;
  line-height: 1.2;
}

.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: #fce138;
}
.hero {
  /*css for container of form with background-image*/
  color: #34b2b2;
  padding: 60px;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
.hero-form {
  /*css for the form */
  background-color: #fce138;
  padding: 20px;
  color: #024e76;
  border: 3px solid #024e76;
  width: 40%;
  margin: 3.5%;
}
.hero-form h3 {
  font-size: 24px;
  margin: 0;
}
.hero-form p {
  margin: 5px 0 15px 0;
}
.form-input {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
}
.hero-form label {
  margin: 0 5px;
}
.btn {
  color: #fce138;
  background-color: #024e76;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}
.btn:hover {
  background-color: greenyellow;
  color: black;
}
.btn:active {
  background-color: green;
}
/*for what we do section*/
.section-title {
  font-size: 48px;
  color: #024e76;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
  border-bottom: 3px solid;
  margin-top: 20px; /*my own addition*/
}

.intro p {
  line-height: 1.7;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.primary-border {
  border-color: #fce138;
}

.secondary-border {
  border-color: #39a6b2;
}
/*for what you do section*/
.steps {
  background-color: #fce138;
  margin-bottom: 80px;
  padding: 30px;
}
.step-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: #024e76;
}
.step {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  border-bottom: 1px solid #39a6b2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.step h3 {
  margin-top: 10px;
  color: #024e76;
  font-size: 46px;
  flex: 1 30%;
}
.step-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.step-img {
  flex: 1 12%;
  margin-right: 20px;
  max-width: 100%;
}
.step-text {
  flex: 12;
}
.step p {
  color: #39a6b2;
  font-size: 23px;
}

.trainers {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.trainer {
  margin: 20px;
  flex: 1;
  background: #024e76;

  color: #fce138;
}
.trainer img {
  width: 100%;
}
.trainer-bio {
  padding: 35px;
  width: 65%;
  float: left;
  line-height: 1.3;
}
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
.trainer-bio h3 {
  font-size: 28px;
}

.trainer-bio h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
}

.trainer-bio p {
  font-size: 17px;
}
iframe {
  border: 5px solid #024e76;
}
.contact {
  background: #024e76;
  padding-bottom: 40px;
  color: #34b2b2;
}
.contact h2 {
  color: #fce138;
}
.contact-info iframe {
  height: 400px;
}

.contact-info div {
  color: white;
}
.contact-info h3 {
  color: #fce138;
  font-size: 32px;
}

.contact-info p,
.contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}

.contact-info a {
  color: #fce138;
}
.flex-row {
  display: flex;
}
.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-info > * {
  flex: 1;
  margin: 15px;
}
.contact-form input,
textarea {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
}

.contact-form button {
  width: 100%;
  border: none;
  background: #fce138;
  color: #024e76;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
}
/*for small desktop screens*/
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  header nav ul li a {
    font-size: 20px;
  }
  footer h2,
  footer div {
    text-align: center;
    width: 100%;
  }
  .hero-form,
  .hero-cta {
    width: 100%;
  }
  .hero-cta {
    text-align: center;
  }
  .section-title {
    width: 80%;
  }
  .trainer {
    flex: 0 70%;
  }
  .trainer-bio {
    border: 1px solid red;
    text-align: center;
    justify-content: space-between;
    flex: 0 100%;
  }
  .contact-info iframe {
    flex: 0 100%;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
  .step h3 {
    flex: 1 100%;
    text-align: center;
  }
  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }
  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .step-text {
    flex: 100%;
  }
}

@media screen and (max-width: 575px) {
  .hero-form button {
    width: 100%;
  }
  .section-title {
    width: 95%;
  }
  .intro p {
    width: 100%;
  }
  .trainer {
    flex: 0 100%;
  }
  .contact-info {
    text-align: center;
  }
  .contact-info > * {
    flex: 0 100%;
  }
  .contact-form {
    order: 1;
  }
}
